[submodule "pyudev"]
	path = third_party/pyudev
	url = https://github.com/pyudev/pyudev.git
[submodule "create_ap"]
	path = third_party/create_ap
	url = https://github.com/oblique/create_ap.git
[submodule "third_party/resources"]
	path = third_party/resources
	url = https://gitee.com/hzcsai_com/jetrep_resources.git
