[Unit]
    Description=Gst pipeline start launch
    Documentation=http://jetrep.hzcsai.com
    After=srsrtc.service multi-user.target

[Service]
    Type=simple
    User=root
    Group=root
    UMask=0000
    WorkingDirectory=/jetrep
    EnvironmentFile=/jetrep/etc/jetgst.env
    Restart=always
    RestartSec=10
    # ExecStartPre=-/bin/systemctl restart nvargus-daemon
    ExecStartPre=-/usr/bin/curl -d '{"name": "jetgst", "status": "starting"}' http://127.0.0.1:80/apis/svc/status
    ExecStart=/usr/bin/python3 jetrep/stream -c etc/jetgst.json
    ExecStartPost=/bin/sleep 2
    ExecStartPost=-/usr/bin/curl -d '{"name": "jetgst", "status": "started"}' http://127.0.0.1:80/apis/svc/status
    ExecStopPost=-/usr/bin/curl -d '{"name": "jetgst", "status": "stopped"}' http://127.0.0.1:80/apis/svc/status
    TimeoutStartSec=10
    TimeoutStopSec=5
    StandardOutput=syslog
    StandardError=syslog

[Install]
    WantedBy=multi-user.target
