[Unit]
    Description=Gst pipeline start launch
    Documentation=http://jetrep.hzcsai.com
    After=srs.service multi-user.target

[Service]
    Type=simple
    User=root
    Group=root
    UMask=0000
    WorkingDirectory=/home/nano/omega/jetson/jetrep
    EnvironmentFile=/home/nano/omega/jetson/jetrep/etc/jetgst.env
    Restart=always
    RestartSec=5
    ExecStartPre=-/bin/systemctl restart nvargus-daemon
    ExecStart=/usr/bin/python3 jetrep/stream -c etc/jetgst.json
    ExecStartPost=/usr/bin/curl -d '{"server": "jetgst", "status": "started"}' http://0.0.0.0:8282/apis/systemd/v1/status
    ExecStopPost=/usr/bin/curl -d '{"server": "jetgst", "status": "stopped"}' http://0.0.0.0:8282/apis/systemd/v1/status
    TimeoutStartSec=10
    TimeoutStopSec=5
    StandardOutput=syslog
    StandardError=syslog

[Install]
    WantedBy=multi-user.target
