[Unit]
    Description=JetRep Main Process
    Documentation=http://jetrep.hzcsai.com
    After=multi-user.target

[Service]
    Type=simple
    User=root
    Group=root
    UMask=0000
    WorkingDirectory=/jetrep
    EnvironmentFile=/jetrep/etc/jetrep.env
    Restart=always
    RestartSec=3
    ExecStartPre=-/bin/bash /jetrep/scripts/stop_services.sh
    ExecStart=/usr/bin/python3 jetrep/core/main.py -c etc/jetrep.json
    ExecStopPost=-/bin/bash /jetrep/scripts/stop_services.sh
    TimeoutStartSec=30
    TimeoutStopSec=20
    StandardOutput=syslog
    StandardError=syslog

[Install]
    WantedBy=multi-user.target
