[Unit]
    Description=JetRep Main Process
    Documentation=http://jetrep.hzcsai.com
    StartLimitIntervalSec=60
    StartLimitBurst=5
    OnFailure=jetsos.service
    # After=network-online.target
    Wants=network-online.target

[Service]
    Type=simple
    User=root
    Group=root
    UMask=0000
    WorkingDirectory=/jetrep
    EnvironmentFile=/jetrep/etc/jetrep.env
    Restart=always
    RestartSec=3
    ExecStartPre=-/jetrep/scripts/stop_services.sh 1
    ExecStart=/usr/bin/python3 jetrep/core/main.py -c runtime/jetrep.json
    ExecStopPost=-/jetrep/scripts/stop_services.sh 1
    KillSignal=SIGINT
    TimeoutStartSec=20
    TimeoutStopSec=30
    StandardOutput=syslog
    StandardError=syslog

[Install]
    WantedBy=multi-user.target
