[Unit]
    Description=JetRep SOS Service
    Documentation=http://jetrep.hzcsai.com
    After=multi-user.target

[Service]
    Type=oneshot
    User=root
    Group=root
    UMask=0000
    EnvironmentFile=/home/nano/omega/jetson/jetrep/etc/jetrep.env
    ExecStart=/home/nano/omega/jetson/jetrep/scripts/jetrep_recovery.sh

[Install]
    WantedBy=multi-user.target
