[Unit]
    Description=Gst pipeline start launch
    Documentation=http://jetrep.hzcsai.com
    After=multi-user.target

[Service]
    Type=simple
    User=root
    Group=root
    UMask=0000
    WorkingDirectory=/home/nano/srs
    Restart=always
    RestartSec=5
    ExecStart=/home/nano/srs/objs/srs -c /home/nano/omega/jetson/jetrep/etc/srs.conf
    TimeoutStartSec=10
    TimeoutStopSec=5
    StandardOutput=syslog
    StandardError=syslog

[Install]
    WantedBy=multi-user.target
