[Unit]
    Description=JetRep SRS Webrtc Service
    Documentation=http://jetrep.hzcsai.com
    After=multi-user.target

[Service]
    Type=simple
    User=root
    Group=root
    UMask=0000
    WorkingDirectory=/home/nano/srs
    Restart=always
    RestartSec=10
    ExecStart=/home/nano/srs/objs/srs -c /home/nano/omega/jetson/jetrep/etc/srs.conf
    ExecStartPost=/bin/sleep 5
    ExecStartPost=/usr/bin/curl -d '{"name": "srs", "status": "started"}' http://0.0.0.0:8282/apis/systemd/v1/status
    ExecStopPost=/usr/bin/curl -d '{"name": "srs", "status": "stopped"}' http://0.0.0.0:8282/apis/systemd/v1/status
    TimeoutStartSec=10
    TimeoutStopSec=5
    StandardOutput=syslog
    StandardError=syslog

[Install]
    WantedBy=multi-user.target
